<a href="https://colab.research.google.com/github/ducodbs0516/py16/blob/master/notebook/ch2_code03_py16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2_code03_py16.ipynb
## py16  
- Dictionary
- Set
- Bool
- Variable

In [0]:
# ch2_07_dictionary.py

print("딕셔너리: 딕셔너리(Dictionary)란?")
# 딕셔너리란 대응 관계를 나타내는 자료형.
# 연관 배열(Associative array) 또는 해시(Hash)
# 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형
#
# 기본 딕셔너리의 모습
# {Key1:Value1, Key2:Value2, Key3:Value3, ...}
# Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다.
# 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분
dic = {"name": "pey", "phone": "0119993323", "birth": "1118"}
dic    # 변수형 {}
# Key는 각각 'name', 'phone', 'birth'
# 각 Key에 해당하는 Value는 'pey', '0119993323', '1118'

딕셔너리: 딕셔너리(Dictionary)란?

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

### 여러 가지 딕셔너리

In [0]:
# 여러 가지 딕셔너리
a = {1: "hi"} #key 값 = 정수 1
a[1]

'hi'

In [2]:
a = {"a": [1, 2, 3]}  # value에는 복합 자료형도 사용된다.
len(a)    # 요소 1개 
# a[a]  # TypeError # unhashable type: 'dict' # a라는 딕셔너리에는 키값을 넣어야 함.
a["a"]  # key 값 문자 a    # 데이터 타입 확인하기

[1, 2, 3]

In [0]:
a # a는 딕셔너리

{'a': [1, 2, 3]}

In [0]:
#
# 딕셔너리 쌍 추가하기
#
a = {1: "a"}
print(a)
a[2] = "b" # a is NOT index, 2 is a key. # 딕셔너리 확장
a
a["name"] = "pey" # key 값은 정수 1, 정수 2, 문자열 name => 여러가지 문자 데이터 허용
a
a[3] = [1, 2, 3]  # index 추가 
a

{1: 'a'}

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [0]:
#
# 딕셔너리 쌍 삭제하기 
#
del a[1] # 1 is key. 1 is never an index.
a

{2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [0]:
#
print("딕셔너리: 사용 방법")
d = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
print(d)     #딕셔너리
d["손흥민"]  #손흥민이라는 key 값 value 출력

딕셔너리: 사용 방법
{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}

'축구'

In [0]:
#
# 딕셔너리에서 Key 사용해 Value 얻기
#
grade = {"pey": 10, "julliet": 99}
grade["pey"],grade["julliet"] #print(grade["pey"])

(10, 99)

In [0]:
#
a = {1: "a", 2: "b"}
a[1]  # 1은 key
#
a = {"a": 1, "b": 2}
a["b"]  # 문자 b => "b"
a[b]  # TypeError # name 'b' is not defined

NameError: ignored

In [0]:
#
dic = {"name": "pey", "phone": "0109993323", "birth": "1118"}
dic["birth"], dic["phone"]  # 튜플로 묶여서 출력됨
#
# 딕셔너리 만들 때 주의할 사항
# 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면
# 하나를 제외한 나머지 것들이 모두 무시된다
#
a = {1: "a", 1: "b"} 
a[1]  # 맨 마지막 key 값이 출력

'b'

### 딕셔너리: 관련 내장 함수들

In [0]:
#
print("딕셔너리: 관련 내장 함수들")
#
# Key 리스트 만들기(keys)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.keys()  # a라는 딕셔너리의 key값
list(a.keys())
#################################################
# 기본적인 반복(iterate) 구문(예: for문)을 실행
#################################################
for k in a.keys():
    print(k)

딕셔너리: 관련 내장 함수들
name
phone
birth

In [0]:
#
# Value 리스트 만들기(values)
#
a.values()  
list(a.values())

['pey', '0119993323', '1118']

In [0]:
#
# Key, Value 쌍 얻기(items)
#
a.items()  # Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [0]:
#
#
# Key: Value 쌍 모두 지우기(clear) # null 딕셔너리 생성
#
a.clear()
a

{}

In [0]:
#
# Key로 Value얻기(get)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.get("name")  # a['name']
a.get("phone")  # a['phone']

'0119993323'

In [0]:
print(a["nokey"])  # KeyError 'nokey'

KeyError: ignored

In [0]:
a

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

In [0]:
#
# get(x, '디폴트 값') # get(key, value)
#
# 딕셔너리 안에 찾으려는 Key 값이 없을 경우
# 미리 정해 둔 디폴트 값을 대신 가져오게 설정.
#
a.get("foo", "bar") # 없는 key 값을 대비한 bar 출력
a.get("name", "bar") # ket 값이 있으므로 value값인 pey 출력

'pey'

In [0]:
#
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
"name" in a
"foo" in a

False

## Set

In [4]:
# ch2_08_set.py

print("집합: 집합(Set)이란?")
# 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
# 중복된 값을 허용하지 않는다.
#
# set 키워드를 사용해서 집합자료형을 만든다.
#
s1 = set([1, 2, 3])  # 함수 ()
s1     # {...} 중괄호 사용 => 1.딕셔너리(key 값 value), 2. set (중복x)
s1n = set([1, 2, 3, 2]) 
s1n
s2 = set("Hello") 
s2

집합: 집합(Set)이란?

{'H', 'e', 'l', 'o'}

### 집합 자료형의 특징

In [0]:
#
# 집합 자료형의 특징
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다(Unordered).=> index 불가
# *** set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다.
#
s1 = set([1,2,3])
print(s1)
# s1[0]  # TypeError: 'set' object does not support indexing 
       # set은 인덱싱 지원 x
l1=list(s1)  #list는 인덱싱 o
print(l1)
l1[0]

{1, 2, 3}
[1, 2, 3]

1

In [0]:
#
t1=tuple(s1)
print(t1)
t1[0]

(1, 2, 3)

1

In [0]:
#
# 교집합, 합집합, 차집합 구하기
#
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 
# 1. 교집합 (공통 부분)
#
# s1 & s2
s1.intersection(s2)
# 
# 2. 합집합
#
s1 | s2     # 중복 허용x
s1.union(s2)
# 
# 3. 차집합
#
s1 - s2
s2 - s1
# s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

### 집합 (set): 관련 내장 함수들

In [0]:
#
print("집합 (set): 관련 내장 함수들")
#
# 값 1개 추가하기(add)
#
s1 = set([1, 2, 3])
s1.add(4)
s1

집합 (set): 관련 내장 함수들

{1, 2, 3, 4}

In [0]:

#
# 값 여러 개 추가하기(update)
#
s1 = set([1, 2, 3])
s1.update([4,5,6])
s1
s1.add(5)
s1

{1, 2, 3, 4, 5, 6}

In [0]:
#
# 특정 값 제거하기(remove)
#
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [0]:
#################################################
# frozenset()  # immutable set 만들기
#################################################
small_primes = frozenset([2, 3, 5, 7]) # 10보다 작은 소수
bigger_primes = frozenset([5, 7, 11])  # 5보다 큰 소수
# small_primes.add(11)  # we cannot add to a frozenset -> AttributeError
                        # 'frozenset' object has no attribute 'add'
# small_primes.remove(2)  # neither we can remove -> AttributeError
                        #'frozenset' object has no attribute 'remove'
# small_primes & bigger_primes  # intersect, union, etc. allowed
# frozenset({5, 7})

## bool (불)

In [0]:
# ch2_09_bool.py

print("불: 불 자료형이란?")   # if문 while문 조건에 사용
# 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.
# 불 자료형은 다음 2가지 값만을 가질 수 있다.
# True - 참
# False - 거짓
# True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고
# 첫 문자를 항상 대문자로 사용해야 한다.
#
a = True 
b = False 
type(a), type(b) , a, b

불: 불 자료형이란?

(bool, bool, True, False)

In [0]:
#
# 참과 거짓
#
1 == 1
2 > 1
2 < 1
True + 1  # True 기본 값 1
False + 1 # False 기본 값 0

1

### 자료형의 참과 거짓
- string
- list
- tuple
- dictionary
- set 
- bool

In [0]:
#
# 자료형의 참과 거짓
#
bool("python") # 문자열 안에 문자열 T
bool("") # null은 F
bool([1, 2, 3]) 
bool([2, 3])
bool([]) #null list 
bool(()) #null set 
bool({}) #null 딕셔너리
bool(1)
bool(0)
bool(None)

False

## Quiz

In [0]:
bool(0), bool([0]), bool((0)), bool((0,)) # (0)== 0 # (0,) => set 값

(False, True, False, True)

In [0]:
#
# 불 값을 이용한 코드
#
a = [1, 2, 3, 4]  #list
#
while a:  #list 요소가 있으면 T 
    print(a.pop())

4
3
2
1

In [0]:
#
if []:  # null
    print("참")
else:
    print("거짓")

거짓

In [0]:
############################
#  Representation error
## double precision representation of floating-point numbers
############################
1-0.9     # 0.1에 가장 가까운 값 출력
# 0.09999999999999998
1-0.9==.1
# False

False

In [0]:
#####
import decimal
x=decimal.Decimal(3.14)
y=decimal.Decimal(2.74)
x,y

x*y
# Decimal('8.603600000000001010036498883')
decimal.getcontext().prec=4
x*y
# Decimal('8.604')

Decimal('8.604')

### 변수

In [0]:
# ch2_10_variable.py

print("변수: 변수란?")
#
# 변수는 자료(값)을 저장하는 공간이다.
#
a = [1, 2, 3]   # a 변수에 list 할당
print(a)
id(a)  # a 변수가 가리키는 메모리의 주소

변수: 변수란?
[1, 2, 3]

139663941939912

In [0]:
# list
a = [1, 2, 3]
id(a) 
b = a # a 변수를 b에 직접 대입
id(a), id(b)  # 주소가 같음
a is b # 두 객체가 같으면 T
a[1] = 4
a
a, b  # b도 바뀜
a is b
b = [1, 2, 3] #b변수에 새로운 값 
id(a),id(b) 
a is b        # 주소와 값 모두 비교

False

In [0]:
#
# b 변수를 생성할 때 a 변수의 값을 가져오면서
# a와는 다른 주소를 가리키도록 만들수는 없을까?
# 다음 2가지 방법이 있다.
#
# 1. [:] 이용
#
a = [1, 2, 3]
b = a[:] # b = a 값은 같고, 주소는 다름
id(a),id(b)
a[1] = 4 # 주소가 달라서 a[1]만 바뀜,b는 그대로.
a, b 
#
# 2. copy 모듈 이용
#
a = [1, 2, 3]
from copy import copy  # NameError: name 'copy' is not defined
b = copy(a)

b is a, a is b #주소가 다름

(False, False)

In [0]:
#
# 변수를 만드는 여러 가지 방법
#
a, b = ("python", "life")
print(a)
print(b)
a, b

python
life

('python', 'life')

In [0]:
[a, b] = ["python", "life"]  # list 구조
a, b  # 튜플로 묶여서 나옴

a = 3
b = 5
a, b = b, a # swap
a,b

(5, 3)