<a href="https://colab.research.google.com/github/ducodbs0516/py16/blob/master/notebook/ch3_exercises_py16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises_py16.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [88]:
# [Q1] Code  
a = "Life is too short, you need python"
if "wife" in a: print("wife") # false
elif "python" in a and "you" not in a: print("python") # false
elif "shirt" not in a: print("shirt")   # ture => shirt가 출력된다.
elif "need" in a: print("need")
else: print("none")

shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [89]:
# [Q2] Code
a = 0
add = 0
while a < 1000:
    a = a + 1
    if a % 3 == 0: 
      add += a
print(add)

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [87]:
# [Q3] Code
star = 0
while star < 5:
    star = star + 1
    print("*"*star)

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [7]:
# [Q4] Code-1
i=0
for i in range(0,100):
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
# [Q4] Code-2
count=[i+1 for i in range(0,100)]
print(count)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [10]:
# [Q5] Code
scores =[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for score in scores: 
    sum += score

print("총점이 %d점이므로"%sum)
print("평균 점수는 %d점 입니다."%(sum/len(scores)))

총점이 790점이므로
평균 점수는 79점 입니다.

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [84]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
[number * 2 for number in numbers if number %2 ==1]

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [12]:
# [Q7] Code-1 
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum=0
for i, score in enumerate(scores):
   sum+=scores[i] 
   print(subjects[i],scores[i]) 
   
print("평균 점수는 %.2f점 입니다."%(sum/len(subjects)))

파이썬 91
영어 67
수학 88
물리 75
평균 점수는 80.25점 입니다.

In [13]:
# [Q7] Code-2
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum = 0
for subject, score in zip(subjects, scores):
    sum += score
    print(subject, score)
    
print("총점 {0}\n평균 점수 {1}점".format(sum,(sum/len(subjects))))

파이썬 91
영어 67
수학 88
물리 75
총점 321
평균 점수 80.25점

In [14]:
# [Q7] Code-3
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum=0
for i in range(len(subjects)):
    sum+=scores[i]
    print(subjects[i], scores[i])
    
print("평균 %.2f"%(sum/len(subjects)))

파이썬 91
영어 67
수학 88
물리 75
평균 80.25

In [15]:
# [Q7] Code-4
table=[("파이썬",91),("영어",67),("수학",88),("물리",75)]
result = [score for (subject,score) in table]
sum=0
for score in result:
    sum+=score

print("평균 성적: %.2f점"%(sum/len(table)))

평균 성적: 80.25점

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb