<a href="https://colab.research.google.com/github/ducodbs0516/py16/blob/master/notebook/ch4_exercises_py16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch4_exercises_py16.ipynb

## Q1.
> 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

> Code-1, Code-2
- 짝수이면 'True' 출력, 홀수이면 'False' 출력

In [0]:
# [Q1] Code - 1
def is_odd(number):
  return bool(number % 2 == 0)

is_odd(2)

True

In [0]:
# [Q1] Code - 2
is_odd = lambda x: True if x % 2 == 0 else False
is_odd(3)

False

In [0]:
# [Q1] Code - 3
def is_odd(num):
    if num%2==0:
      return '짝수'
    else:
      return '홀수'
is_odd(4)
# print(is_odd(5))

'짝수'

## Q2.
> 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. 
- (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
- ※ 평균 값을 구할 때 len 함수를 사용해 보자.

In [0]:
# [Q2] Code
def avg_number(*args):
    result = 0
    for i in args:
      result += i
    return result/len(args)

avg_number(4,7,9,10)

7.5

## Q3.
> 다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

```
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

```
---
> 이 프로그램을 수행해 보자.

>> 첫번째 숫자를 입력하세요:3  
>> 두번째 숫자를 입력하세요:6
- 두 수의 합은 36 입니다
- 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다.  
이 프로그램의 오류를 수정해 보자.

In [0]:
# [Q3] Code
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1)+int(input2) # int함수를 사용하여 숫자로 바꾸어 준다.

print("두 수의 합은 %d 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

## Q4.
> 다음 중 출력 결과가 다른 것 한 개를 골라 보자.

```
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))
```

- 큰따옴표(")로 둘러싸인 문자열은 + 연산과 동일하므로 문자열 공백을 없이 출력된다.

In [0]:
print("you" "need" "python")

youneedpython

In [0]:
print("you"+"need"+"python")

youneedpython

- 큰따옴표("") 안에 공백이나 문자가 없으므로 리스트 안에 문자열이 서로 이어져서 출력된다.

In [0]:
print("".join(["you", "need", "python"]))

youneedpython

- 문자열 띄어쓰기는 콤마(,)로 하기 때문에 공백 한 칸씩 띄어쓰기로 출력된다.

In [0]:
print("you", "need", "python")

you need python

## Q5.
> 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

```
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

```
>> 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다.

>> 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [0]:
# [Q5] Code - 1
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close() # 파일 닫기

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [0]:
# [Q5] Code - 2
with open("test.txt","w") as f1:
    f1.write("Life is too short")
with open("test.txt","r") as f2:
    print(f2.read())

Life is too short

## Q6.
> 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. 
- (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [0]:
# [Q6] Code
user_input = input("저장할 내용을 입력해주세요:")
f = open('test.txt','a')
f.write(user_input)
f.write("\n")
f.close()

저장할 내용을 입력해주세요:java

## Q7.
> 다음과 같은 내용을 지닌 파일 foo1.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

>> Life is too short  
>> you need java

- ※ replace 함수를 사용해 보자.

In [0]:
# [Q7] Code
f = open('test.txt', 'r')
text = f.read()
f.close()

text = text.replace('java', 'python')

f = open('test.txt', 'w')
f.write(text)
f.close()

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch4_exercises_id.ipynb