<a href="https://colab.research.google.com/github/ducodbs0516/py16/blob/master/notebook/ch5_exercises_py16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [30]:
# [Q1] Code  
class Calculator:
    def __init__(self):
        self.value = 0
 
    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator):
    def minus(self,val):
        self.value -= val
  
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value)

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [34]:
# [Q2] Code
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100

cal = MaxLimitCalculator()
cal.add(50) 
cal.add(60) 
print(cal.value)

100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [39]:
# [Q3] Code(1)
all([1, 2, abs(-3)-3])

False

### Code(1) [설명]
> - 내장함수 abs()은 절대값을 구하는 함수이므로 abs(-3)은 3이다. 그러므로 abs(-3)-3의 결과는 0이다.                     
> - 내장함수 all()은 모든 요소가 참일 때 True를 반환한다. 
> ```
all([1, 2, abs(-3)-3])
```
>> - 위의 코드에서 함수 all은 매개변수로 [1, 2, 0] 을 갖는다. 파이썬에서는 0을 False로 인식하므로 False 가 출력된다.

In [60]:
# [Q3] Code(2)
chr(ord('a')) == 'a'

True

### Code(2) [설명]
> - ord() 함수는 특정한 문자를 아스키 코드 값으로 변환해 주는 함수이고,            
> chr() 함수는 아스키 코드 값을 문자로 변환해 주는 함수이다.
> ```
chr(ord('a')) == 'a'
```
> > - ord('a')에서 문자열 'a'의 아스키 코드 값은 97이 되어 chr(97)이 된다.           
> > chr(97)은 97을 문자로 변환하므로 다시 'a'가 된다.                  
> >그러므로 'a'=='a' 가 되어 True가 출력된다.

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [10]:
# [Q4] Code-1
numbers = [1, -2, 3, -5, 8, -3]
more_than_zero=list(filter(lambda x:x>0,numbers))
print(more_than_zero)

[1, 3, 8]

In [11]:
# [Q4] Code-2
more_than_zero= list(filter(lambda x:x>0, [1, -2, 3, -5, 8, -3]))
print(more_than_zero)

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [61]:
# [Q5] Code
int('0xea', 16)

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [12]:
# [Q6] Code-1
numbers = [1,2,3,4]
mul_of_3=list(map(lambda x:x*3,numbers))
print(mul_of_3)

[3, 6, 9, 12]

In [63]:
# [Q6] Code-2
list(map(lambda x:x * 3, [1, 2, 3, 4]))

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [66]:
# [Q7] Code
numbers = [-8, 2, 7, 5, -3, 5, 0, 1]
max(numbers) + min(numbers)

-1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [46]:
# [Q8] Code-1
round(17/3, 4)

5.6667

In [51]:
# [Q8] Code-2
a = float(format(17/3, ".4f")) 
print(a)

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [0]:
# [Q9] Code
# myargv.py
import sys 

numbers = sys.argv[1:] # 파일 이름을 제외한 명령 행의 모든 입력

result = 0
for number in numbers:
    result += int(number)  # int형으로 바꾼뒤 값을 합한다.
print(result)  # result 값 출력

In [9]:
%run doit/myargv.py 1 2 3 4 5 6 7 8 9 10

55

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [51]:
# [Q10] Code
import os  # os 모듈을 불러오기.

os.chdir("/content/doit") 

result = os.popen("dir")  # os 모듈의 popendㄹ 사용하여 시스템 명령어인 dir 수행
print(result.read()) # popen의 결과 출력

chaeyun_py16.py  myargv.py  python_py16.txt

In [48]:
%pwd

'/content/doit'

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [53]:
# [Q11] Code
import glob  # glob 모듈 사용
glob.glob("/content/doit/*.py")

['/content/doit/chaeyun_py16.py', '/content/doit/myargv.py']

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

>> - %Y 년도 
- %m 달
- %d 날
- %H 시간 (24시간 출력 상태)
- %M 분
- %S 초

In [15]:
# [Q12] Code-1
import time
time.strftime("%Y/%m/%d %H:%M:%S")

'2020/06/11 06:26:06'

>> - %x	현재 설정된 로케일에 기반한 날짜 출력
- %X	현재 설정된 로케일에 기반한 시간 출력

In [58]:
# [Q12] Code-2
import time
time.strftime("%x %X")

'06/11/20 11:10:05'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [5]:
# [Q13] Code-1
import random

numbers = random.randint(1,46)
lotto = []

for i in range(6):
    while numbers in lotto:
        numbers = random.randint(1,46)
    lotto.append(numbers)

lotto.sort()
print(lotto)

[1, 4, 21, 22, 44, 45]

In [3]:
# [Q13] Code-2
import random

numbers = list(range(1,46))
lotto = []

while len(lotto) < 6:
    num = random.choice(numbers)
    if not num in lotto:
        lotto.append(num)

print(lotto)

[42, 18, 17, 20, 34, 29]

In [23]:
# [Q13] Code-3
import random
list = range(1,46)
lotto = random.sample(list,6)
print(lotto)

[33, 17, 10, 21, 12, 42]

In [23]:
# [Q13] Code-4
import random

lotto = []
while len(lotto) < 6:
    numbers = random.randint(1,46)
    if number not in lotto:
        lotto.append(numbers)

print(lotto)

[3, 35, 16, 8, 35, 22]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb