<a href="https://colab.research.google.com/github/ducodbs0516/py16/blob/master/notebook/mid_exam_py16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬활용 중간고사 풀이

### 중간고사 1 (1~5)

### 문제1.
> 다음 식의 연산 결과는?

>>a = 5  
>>b = 3  
>>a**b

In [0]:
a = 5
b = 3
a**b   # 5를 세제곱 => 125

125

### 문제1. [설명]
> a**b는 a를 b만큼 제곱하는 것이다.
> - a=5  b=3 => 5**3 이므로 5를 세제곱하면 125이다.

### 문제2.

> 다음 문자열 a에 대하여 슬라이싱을 한 결과는?      
> a= "Life is too short, you need Python!"                            
> a[-16:-8]

In [0]:
a= "Life is too short, you need Python!"                            
a[-16:-8]  # -16 <= index < -8 이므로 'you need'가 출력된다.

'you need'

### 문제2. [설명]
> a[-16:-8]는 -16 <= index < -8 이므로 'you need'가 출력된다.

### 문제3.

> 다음 list a의 인덱싱 결과는?       
>> a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]             
>> a[3][-1][0]

In [0]:
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]             
a[3][-1][0]

'My'

### 문제3. [설명]
>a[3]은 ['a', 'b', ['My', 'Life', 'Good']]이고, a[3][-1]은 ['My', 'Life', 'Good']이다.                                           
> 그러므로 a[3][-1][0] 는 'My'가 출력된다.

### 문제4.
> 다음 tuple t1의 슬라이싱 결과는?
>> t1 = (0, 1, "s", "t","u")              
>> t1[2:-2]

In [0]:
t1 = (0, 1, "s", "t","u")              
t1[2:-2]

('s',)

### 문제4. [설명]
> 요소가 하나뿐인 객체를 괄호로 싸기만 하고 뒤에 콤마를 포함하지 않는 경우, 튜플이 아니라 정수형(int.)자료형이 된다. 
그러므로 튜플의 슬라이싱의 결과값은 요소가 하나만 있을 때 반드시 콤마(,)를 포함해야 한다.
> - t1[2:-2]는 2번 인덱스인 's'만 포함하고 , 튜플 구조이므로 결과는 ('s',)이다.

### 문제5.
> 다음 bool 값 출력 중 정확한 것은?                                             
> - bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

In [0]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

(True, True, False, True)

### 문제5. [설명]

> - bool([0, 1, 2])와 bool([0])은 각각 [0, 1, 2],[0]을 요소값으로 가진 list 구조이므로 True이다. 
> - bool((0))은 bool(0)과 이므로 False 이다.
> - bool((0,))은 요소값을 하나만 가진 튜플 구조이므로 True 이다.

### 중간고사 2 (1~5)

### 문제1.
> 다음 조건문을 1줄 코드로 변경하시오.        



```
score = 80  
if score > = 60:
     message = "succes"
else:
     message = "failure"

```

In [0]:
score = 80  
if score >= 60:
   message = "succes"
else:
   message = "failure"

print(message)

score =50
message = "succes" if score>=60 else "failure"
print(message)

succes
failure

### 문제1. [설명]
> 주어진 코드에서 if score >= 60: 은 score 값이 60보다 크거나 같은지 비교한 뒤, 조건식을 만족하면 "succes"를 message에 대입하여 print가 실행되어 "succes"가 출력된다. score 값이 if score >= 60:의 조건에 맞지 않으면 "failure"가 출력된다.             
> >한 줄 코드 => message = "succes" if score>=60 else "failure"
> - 한줄 코드에서 조건식 if score>=60 은
score 가 60보다 크거나 같으면 조건식을 만족하는 것이고 "succes"을 출력한다.                                    조건이 맞지 않으면 else를 통해 "failure"라는 값을 출력한다.

### 문제2.
> 다음 코드의 실행 결과는?


```
games = ["A", "B", "C"]

for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')
```

In [0]:
games = ["A", "B", "C"]

for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')

0 A,1 B,2 C,

In [0]:
a = range(3)
print(a)
list(a)

range(0, 3)

[0, 1, 2]

### 문제2. [설명]
> for cnt in range(len(games)):              
> range(len(games))에서 len(games)는 입력값 games의 요소 전체 개수를 리턴하는 함수로 3을 리턴한다.     
> range(3)은 range(0,3)과 같고 0,1,2를 변수 cnt에 대입하고,                
 >for문이 순회할 횟수가 3번으로 정해진다. 

> print(cnt, games[cnt], end=',')              
>>print문이 3번 실행되고 cnt는 range(0,3)의 0,1,2를 순서대로 출력하고, games[cnt]는 인덱스 games[0],games[1],games[2]의 요소값을 순서대로 출력한다. end=','는 줄을 바꾸지 않고 콤마(,)를 붙여준다.

> 결과는 0 A,1 B,2 C, 가 출력된다.

### 문제3.
> 다음의 결과가 출력되지 않는 것은?          
> - 'I ate 10 apples, so I was sick for three days.'


```
#code start
number = 10
day = ""three 
```

In [0]:
number = 10
day = "three"

In [0]:
"I ate {0} apples, so I was sick for {1} days.".format(10,day)

'I ate 10 apples, so I was sick for three days.'

In [0]:
f"I ate {number} apples, so I was sick for {day} days."

'I ate 10 apples, so I was sick for three days.'

In [0]:
f"I ate {number} apples, so I was sick for {'three'} days."

'I ate 10 apples, so I was sick for three days.'

In [0]:
"I ate {0} apples, so I was sick for {1} days.".format(number=10,day)

SyntaxError: ignored

In [0]:
"I ate {0} apples, so I was sick for {day} days.".format(10,day="three")

'I ate 10 apples, so I was sick for three days.'

### 문제3. [설명]

> - 출력되지 않는 코드
```
"I ate {0} apples, so I was sick for {1} days.".format(number=10,day)
```  
> - 오류
```
SyntaxError: positional argument follows keyword argument
```


> > - 오류 발생 이유 

>> 두 가지 형태의 인자를 한 함수에 혼합해서 사용할 수 있다. 하지만 keyword arguments(키워드 인자)를 positional arguments(위치 인자)보다 먼저 사용하면 SyntaxError가 발생한다.         

>> 오류가 난 코드에서 사용된 인자는 키워드 인자(number=10)와 위치 인자(day)이다. 
키워드 인자는 순서가 아니라 각 인자에 대입된 값을 함수 내에 전달해 준다. 
하지만 키워드 인자와 위치 인자를 혼합해서 사용할 때 한 가지 주의할 점은 위치 인자를 입력하는 부분에서는 순서를 지켜줘야한다는 것이다. 왜냐하면 키워드 인자가 나오는 순간부터 순서를 알 수 없게 되기 때문이다. 그래서 위치 인자가 키워트 인자 앞에 나와야하고, 이 위치 인자들의 순서는 지켜져야한다. 

>> 두 가지 형태의 인자를 혼합하려며 코드는 다음과 같아야 한다.
>> - 오류 수정 코드
```
"I ate {0} apples, so I was sick for {day} days.".format(number,day="three")
```

### 문제4.
> 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.
> - 5 + 10 + 15 + 20 + 25 + ... + 955 + 960 + 965 + 970 + 975 + ... + 995 + 1000 = ?

In [0]:
sum([num for num in range(1,1001) if num % 5 == 0])

100500

In [0]:
list(range(1,1001)) # 1부터 1000의 값을 확인

### 문제4. [설명]
> 요소값의 합을 구하는 sum을 사용하여 5의 배수의 합을 구한다.            
> range를 이용하면 큰 수의 범위에 대해서도 for문을 쉽게 작성할 수 있다.        
range(1,1001)은 1부터 1000까지의 값이고, 1부터 1000에 해당하는 범위 값을 반복 가능한 객체로 돌려준다.                                                                     for 문에서 필요할 때 마다 num이라는 변수가 바인딩해서 사용하게 된다.               
>  if num % 5 == 0 으로 5이 배수를 조건으로 하여 조건문에서 나온 값의 합을 구한다.
> - 결과 값= 100500

### 문제5.
> 4개 과목의 평균 성적을 구하시오.                                              
> - [a],[b]에 적합한 코드는?
> 

```
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a]______(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format([b]______))
```

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0
 
for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)
 
print("평균 점수 = {0}".format(total/len(subjects)))

python 88
english 77
math 66
science 95
평균 점수 = 81.5

### 문제5. [설명]
> [a]= zip 
> - zip()은 내장함수로 같은 길이의 리스트를 같은 인덱스끼리 잘라서 리스트로 반환을 해주는 역할을 한다.
동일한 list 형식인 (subject, score) 두 변수를 묶어주는 역할을 하기 때문에 [a]는 zip이다.                                    


> [b] = (total/len(subjects)        
> - for 문에서 total이라는 변수가 scores의 요소값을 모두 더해서 총 점수를 구했다. subjects의 요소값 길이를 구하기 위해 len()을 이용하고 나온 값을 total에 나누어주면 평균 점수를 구할 수 있다.

>> - 답 = zip (total/len(subjets))